@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: #fcfbfb;
    font-family: Lato, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    color: #333;
}
h2 {
    margin: 0;
}
header {
    background-color: rgba(20, 30, 13, 0.7);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo_link {
    padding-top: 5px;
}
.logo {
    width: 120px;
    margin-left: 20px;
}
nav a {
    text-decoration: none;
    color: #fcfbfb;
    font-weight: bold;
    text-align: center;
    padding: 35px;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}
#hero-img {
    width: 100%;
    display: block;
}
#hero-msg h1,
#hero-msg h4,
.button-box {
    text-align: center;
}
.home-title {
    font-family: 'IM Fell French Canon', 'Georgia', serif;
    color: #002147;
    font-size: 2em;
    margin-top: 10px;
}
#hero-msg h4 {
    color: #004080;
    margin-bottom: 1em;
}
.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
}
.book:hover, .join:hover {
    background-color: #005fa3;
    color: #d9c2a3;
}
main section {
    text-align: center;
    margin: 20px 0;
}
.icon {
    width: 80px;
    display: block;
    margin: 10px auto;
    padding-top: 10px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #d0e4f5;
}
.msg {
    background-color: #6f7364;
    padding: 35px;
    text-align: center;
    line-height: 1.5em;
}
.msg h2 {
    font-family: 'IM Fell French Canon', 'Georgia', serif;
    color: #002147;
}
.msg p {
    color: #333;
    max-width: 800px;
    margin: 0 auto 20px auto;
    font-size: .8em;
    padding-bottom: 15px;
}
.mountains {
    width: 100%;
    display: block;
    margin: 0 auto;
}
footer {
    background-color: #002147;
    color: #fcfbfb;
    text-align: center;
    padding: 25px 50px;
    margin-top: 200px;
}
footer p {
    font-size: 1.2em;
    margin: 5px 0;
}
footer a {
    color: #fcfbfb;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
footer .social img {
    width: 40px;
    margin: 0 5px;
    vertical-align: middle;
    padding-top: 15px;
}
